// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #463366; 
  --secondary: #463366;
  --tertiary: #90D400;
  --visited: #273511;
  --primary: #1F1135;
  --gray: #1F1135;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #46336688;
}

[saved-theme="dark"] {
  --light: #faf8f8;
  --dark: #463366; 
  --secondary: #463366;
  --tertiary: #90D400;
  --visited: #273511;
  --primary: #1F1135;
  --gray: #1F1135;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #46336688;
}



