// Add your own CSS here!

:root {
  --light: #1F1135 
  --dark: #F4EFFC;
  --secondary: #463366;
  --visited: #FF6E6C ;
  --tertiary: #C9BAE2;
  --primary: #90D400 ;
  --gray: #d4d4d4 ;
  --lightgray: #292633 ;
  --outlinegray: #343434 ;
  --highlighted: #574010;
}

[saved-theme="light"] {
  --light: #F4EFFC !important;
  --dark: #1F1135 !important;
  --secondary: #463366 !important;
  --tertiary: #C9BAE2 !important;
  --visited: #FF6E6C !important;
  --primary: #90D400 !important;
  --gray: #4e4e4e !important;
  --lightgray: #f0f0f0 !important;
  --outlinegray: #dadada !important;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #463366;
}



